<h1>Hello Surjashish</h1>
<h2>This is a show action call to html erb file	</h2>
<h1>---------------------------</h1>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<ul>
  <li><%= link_to "Edit this entry", edit_article_path(@article) %></li>

  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

